@import "tailwindcss";
html{
    scroll-behavior: smooth;
}
:root {
  --black: #000;
  --lightBulue: #17a;
  --secondary: #6c757d;
  --primary: #0084f0;
  --highlight: #f5f5f5;
  --white: #faf9f6;
  --accent: #7ed957;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.marquee {
  animation: scroll 35s linear infinite;
}
.marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
.productCard {
  transition: transform 0.2s;
}
.productCard:hover {
  transform: translateY(-4px);
}
#current-username{
padding: 10px;
}